body {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}


.container {
    display: flex;
    width: 1024px;
    height: 1024px;
    flex-flow: row wrap;
    border: 5px solid palegreen;
}

.content {
    width: 64px;
    height: 64px;
  
}

