body {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(169, 192, 196) 
}

.gameStart {
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.container {
    display: flex;
    width: 1024px;
    height: 1024px;
    flex-flow: row wrap;
    border: 5px solid rgb(222, 224, 64);    
}



